/* _reset.scss */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

button {
  font-family: inherit;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

/* _fonts.scss */
/* _vars.scss */
/* _mixins.scss */
/* _global.scss */
body {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  padding-top: 50px;
  color: #000;
  background: #fff;
}
body.dark {
  color: #fff;
  background: #333;
}
@media (min-width: 1152px) {
  body {
    padding-top: 80px;
  }
}

.container {
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 690px;
    margin: 0 auto;
    padding: 0;
  }
}
@media (min-width: 1152px) {
  .container {
    max-width: 930px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1110px;
  }
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #000;
  fill: #000;
  background: #fff;
  border-bottom: 1px solid #aaa;
  height: 50px;
  padding: 0 15px;
}
@media (min-width: 1152px) {
  .header {
    height: 80px;
  }
}
.header.dark {
  color: #fff;
  fill: #fff;
  background: #333;
}
.header__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  color: currentColor;
  background: inherit;
}
@media (min-width: 1152px) {
  .header__wrapper {
    max-width: 930px;
    margin: 0 auto;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .header__wrapper {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0;
  }
}
@media (min-width: 1152px) {
  .header__nav {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }
}
.header__logo {
  display: block;
  height: 30px;
}
.header__logo svg {
  height: 100%;
  width: 102px;
}
@media (min-width: 1152px) {
  .header__logo {
    width: 102px;
    height: 40px;
  }
}
.header__menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50px;
  z-index: -1;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  transform: translateY(-150%);
  transition: transform 0.5s;
}
.header__menu.active {
  transform: translate(0);
}
.header__menu.dark {
  background: #333;
}
@media (min-width: 1152px) {
  .header__menu {
    position: static;
    transform: translateY(0);
    flex-direction: row;
    z-index: 1;
    height: 100%;
  }
}
.header__item {
  border-bottom: 1px solid #aaa;
  height: 80px;
}
@media (min-width: 1152px) {
  .header__item {
    margin-left: 40px;
    padding: 0;
    border-bottom: none;
  }
  .header__item:first-of-type {
    margin-left: 0;
  }
}
@media (min-width: 1440px) {
  .header__item {
    margin-left: 50px;
  }
}
.header__item button {
  width: 100%;
  height: 100%;
  text-align: left;
  padding-left: 15px;
  font-size: 24px;
  color: currentColor;
}
@media (min-width: 1152px) {
  .header__item button {
    font-size: 20px;
  }
}
.header__theme {
  margin-left: auto;
}
@media (min-width: 1152px) {
  .header__theme {
    margin-left: 40px;
  }
}
.header__burger {
  position: relative;
  margin-left: 20px;
  width: 30px;
  height: 20px;
  color: currentColor;
}
@media (min-width: 1152px) {
  .header__burger {
    display: none;
  }
}
.header__burger::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: currentColor;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
.header__burger::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: currentColor;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}
.header__burger.active span {
  background: transparent;
}
.header__burger.active::before {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.header__burger.active::after {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
.header__burger span {
  display: block;
  width: 100%;
  height: 2px;
  background: currentColor;
  transition: all 0.5s;
}

/* download */
.download {
  background: inherit;
  padding: 30px 0;
}
@media (min-width: 768px) {
  .download__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (min-width: 1152px) {
  .download__wrapper {
    gap: 40px;
  }
}
@media (min-width: 1440px) {
  .download__wrapper {
    gap: 110px;
  }
}
.download__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.download__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 140%;
}
@media (min-width: 768px) {
  .download__title {
    font-size: 36px;
  }
}
@media (min-width: 1152px) {
  .download__title {
    font-size: 42px;
  }
}
@media (min-width: 1440px) {
  .download__title {
    font-size: 56px;
  }
}
.download__copy {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .download__copy {
    margin-top: 20px;
  }
}
@media (min-width: 1152px) {
  .download__copy {
    font-size: 18px;
    line-height: 170%;
  }
}
@media (min-width: 1440px) {
  .download__copy {
    font-size: 20px;
  }
}
.download__links {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .download__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (min-width: 1152px) {
  .download__links {
    display: block;
  }
}
.download__link {
  display: block;
  margin-top: 15px;
  max-width: 150px;
}
@media (min-width: 768px) {
  .download__link {
    margin-top: 0;
  }
}
@media (min-width: 1152px) {
  .download__link {
    margin-left: 20px;
    display: inline-block;
  }
}
.download__link:first-of-type {
  margin-top: 0;
}
@media (min-width: 1152px) {
  .download__link:first-of-type {
    margin-left: 0;
  }
}
.download__image {
  margin-top: 30px;
  height: 80vw;
  border: 1px solid #aaa;
  border-radius: 20px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .download__image {
    margin-top: 0;
    height: 260px;
  }
}
@media (min-width: 1152px) {
  .download__image {
    height: 350px;
  }
}
@media (min-width: 1440px) {
  .download__image {
    height: 400px;
  }
}
.download__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
@media (min-width: 1152px) {
  .download__image img:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.link {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background: #222;
  border-radius: 5px;
  width: 170px;
  height: 50px;
  padding: 10px 15px;
}
.link__icon {
  width: 24px;
  height: 28px;
}
.link__body {
  display: flex;
  flex-direction: column;
  width: 100px;
}
.link__body span {
  display: block;
}
.link__body span:first-of-type {
  font-size: 10px;
}
.link__body span:last-of-type {
  font-size: 18px;
}

/* warranty */
.warranty {
  background: inherit;
  padding: 30px 0;
}
@media (min-width: 768px) {
  .warranty__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (min-width: 1152px) {
  .warranty__wrapper {
    gap: 40px;
  }
}
@media (min-width: 1440px) {
  .warranty__wrapper {
    gap: 110px;
  }
}
.warranty__body {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.warranty__title {
  font-size: 26px;
  font-weight: 700;
  color: currentColor;
}
@media (min-width: 768px) {
  .warranty__title {
    font-size: 30px;
  }
}
@media (min-width: 1152px) {
  .warranty__title {
    font-size: 34px;
  }
}
@media (min-width: 1440px) {
  .warranty__title {
    font-size: 40px;
  }
}
.warranty__copy {
  margin-top: 10px;
}
@media (min-width: 1152px) {
  .warranty__copy {
    font-size: 18px;
    line-height: 170%;
  }
}
@media (min-width: 1440px) {
  .warranty__copy {
    font-size: 20px;
    margin-top: 20px;
  }
}
.warranty__copy:first-of-type {
  margin-top: 20px;
}
@media (min-width: 1440px) {
  .warranty__copy:first-of-type {
    margin-top: 30px;
  }
}
.warranty__image {
  margin-top: 30px;
  height: 80vw;
  border: 1px solid #aaa;
  border-radius: 20px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .warranty__image {
    margin-top: 0;
    height: 260px;
  }
}
@media (min-width: 1152px) {
  .warranty__image {
    height: 350px;
  }
}
@media (min-width: 1440px) {
  .warranty__image {
    height: 400px;
  }
}
.warranty__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
@media (min-width: 1152px) {
  .warranty__image img:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

/* care */
.care {
  background: inherit;
  padding: 30px 0;
}
@media (min-width: 768px) {
  .care__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (min-width: 1152px) {
  .care__wrapper {
    gap: 40px;
  }
}
@media (min-width: 1440px) {
  .care__wrapper {
    gap: 110px;
  }
}
.care__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.care__title {
  font-size: 26px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .care__title {
    font-size: 30px;
  }
}
@media (min-width: 1152px) {
  .care__title {
    font-size: 34px;
  }
}
@media (min-width: 1440px) {
  .care__title {
    font-size: 40px;
  }
}
.care__copy {
  margin-top: 10px;
}
@media (min-width: 1152px) {
  .care__copy {
    font-size: 18px;
    line-height: 170%;
  }
}
@media (min-width: 1440px) {
  .care__copy {
    font-size: 20px;
    margin-top: 20px;
  }
}
.care__copy:first-of-type {
  margin-top: 20px;
}
@media (min-width: 1440px) {
  .care__copy {
    margin-top: 30px;
  }
}
.care__image {
  margin-top: 30px;
  height: 80vw;
  border: 1px solid #aaa;
  border-radius: 20px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .care__image {
    margin-top: 0;
    height: 260px;
  }
}
@media (min-width: 1152px) {
  .care__image {
    height: 350px;
  }
}
@media (min-width: 1440px) {
  .care__image {
    height: 400px;
  }
}
.care__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
@media (min-width: 1152px) {
  .care__image img:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

/* cashback */
.cashback {
  background: inherit;
  padding: 30px 0;
}
.cashback__body {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 768px) {
  .cashback__body {
    padding: 0 125px;
  }
}
@media (min-width: 1152px) {
  .cashback__body {
    padding: 0 215px;
  }
}
@media (min-width: 1440px) {
  .cashback__body {
    padding: 0 265px;
  }
}
.cashback__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 150%;
  color: currentColor;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .cashback__title {
    font-size: 30px;
  }
}
@media (min-width: 1152px) {
  .cashback__title {
    font-size: 34px;
  }
}
@media (min-width: 1440px) {
  .cashback__title {
    font-size: 40px;
  }
}
.cashback__copy {
  margin-top: 10px;
}
@media (min-width: 1152px) {
  .cashback__copy {
    font-size: 18px;
    line-height: 170%;
  }
}
@media (min-width: 1440px) {
  .cashback__copy {
    font-size: 20px;
    margin-top: 20px;
  }
}
.cashback__copy:first-of-type {
  margin-top: 20px;
}
@media (min-width: 1440px) {
  .cashback__copy:first-of-type {
    margin-top: 30px;
  }
}
.cashback__btn {
  width: 290px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid currentColor;
  box-sizing: border-box;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 20px;
}
@media (min-width: 1440px) {
  .cashback__btn {
    margin-top: 30px;
  }
}

/* clients */
.clients {
  background: inherit;
  padding: 30px 0;
}
.clients img {
  width: 100%;
  height: 47px;
}
.clients__list {
  display: grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media (min-width: 768px) {
  .clients__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* footer */
.footer {
  color: #fff;
  fill: red;
  background: #484848;
}
.footer__wrapper {
  padding: 30px 0;
}
.footer__columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media (min-width: 768px) {
  .footer__columns {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1152px) {
  .footer__columns {
    grid-template-columns: repeat(6, 1fr);
  }
}
.footer__title {
  font-size: 16px;
  font-weight: 700;
}
.footer__list {
  margin-top: 20px;
}
.footer__item {
  margin-top: 10px;
}
.footer__item:first-of-type {
  margin-top: 0;
}
.footer__item img {
  width: 40px;
  height: 40px;
}
.footer__info {
  margin-top: 30px;
}
.footer__copy {
  margin-top: 10px;
}
.footer__copyright {
  margin: 10px auto 0;
  display: block;
  padding: 0 80px;
}

.progress-bar {
  position: fixed;
  top: 50px;
  width: 100px;
  height: 2px;
  background: #00beff;
  z-index: 2;
}
@media (min-width: 1152px) {
  .progress-bar {
    top: 80px;
  }
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-150%);
  transition: transform 0.5s;
}
.modal.active {
  transform: translateY(0);
}
.modal__body {
  position: relative;
  width: 290px;
  height: 325px;
  background: #fff;
  padding: 30px 25px;
}
.modal__close {
  position: absolute;
  top: -30px;
  right: 0;
}
.modal__title {
  font-size: 20px;
  font-weight: bold;
}

/* form */
.form {
  margin-top: 20px;
}
.form__input {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #aaa;
  margin-top: 15px;
  padding-left: 5px;
}
.form__input::placeholder {
  color: #aaa;
}
.form__input:focus {
  outline: 0;
}
.form__select {
  display: block;
  margin-top: 15px;
}
.form__select span {
  position: absolute;
  top: 183px;
  left: 30px;
  font-size: 16px;
  color: #aaa;
}
.form__select select {
  width: 100%;
  border: none;
  border-bottom: 1px solid #aaa;
  font-size: 16px;
  color: #aaa;
}
.form__select select:focus {
  outline: 0;
}
.form option {
  font-family: inherit;
  color: #000;
}
.form__policy {
  display: block;
  margin-top: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-decoration-line: underline;
  color: #222222;
}
.form__policy a {
  text-decoration: none;
}
.form__button {
  width: 240px;
  height: 40px;
  border: 1px solid #222222;
  box-sizing: border-box;
  border-radius: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #222222;
  margin-top: 20px;
}
.form.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* _preloader.scss */
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader.dark {
  background: #333;
}
.preloader__wrapper {
  position: relative;
  width: 10vh;
  height: 10vh;
  animation: rotate 3s infinite linear;
  z-index: 11;
  border: 1px dashed #fff;
  border-radius: 50%;
}
.preloader__item {
  position: absolute;
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #333;
  border: #000;
  border-radius: 50%;
  z-index: 12;
}
.preloader__item:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: bounce-primary 2s infinite ease-in-out;
}
@keyframes bounce-primary {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
.preloader__item:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  animation: bounce-secondary 2s infinite ease-in-out;
}
@keyframes bounce-secondary {
  0% {
    transform: translate(50%, -50%) scale(0);
  }
  50% {
    transform: translate(50%, -50%) scale(1);
  }
  100% {
    transform: translate(50%, -50%) scale(0);
  }
}
.preloader__item:nth-child(3) {
  bottom: 0;
  right: 50%;
  animation: bounce-tertiary 2s infinite ease-in-out;
}
@keyframes bounce-tertiary {
  0% {
    transform: translate(50%, 50%) scale(1);
  }
  50% {
    transform: translate(50%, 50%) scale(0);
  }
  100% {
    transform: translate(50%, 50%) scale(1);
  }
}
.preloader__item:nth-child(4) {
  left: 0;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: bounce-quaternary 2s infinite ease-in-out;
}
@keyframes bounce-quaternary {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.preloader.green {
  border: 2px dashed green;
}
.preloader.yellow {
  border: 2px dashed yellow;
}
.preloader.red {
  border: 2px dashed red;
}
.preloader.blue {
  border: 2px dashed blue;
}

/*# sourceMappingURL=style.css.map */
