/* _vars.scss */

// breakpoints: 
$breakpoint-md: 768px;
$breakpoint-lg: 1152px;
$breakpoint-xl: 1440px;

// max-width:
$max-width-md: 690px;
$max-width-lg: 930px;
$max-width-xl: 1110px;

// heights: 
$height-header-xs: 50px;
$height-header-lg: 80px;

// fonts:
$font-family: 'Nunito', sans-serif;


// z-index
$z-index_header: 1;
$z-index_progress-bar: 2;
$z-index_modal: 3;

